APP_ENV=local

# Produção
DB_PROD_HOST=
DB_PROD_NAME=
DB_PROD_USER=
DB_PROD_PASS=
DB_PROD_PORT=3306

# Local
DB_LOCAL_HOST=localhost
DB_LOCAL_NAME=clinica_veterinaria
DB_LOCAL_USER=root
DB_LOCAL_PASS=
DB_LOCAL_PORT=3306
