Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^post/([a-z0-9-]+)/?$  pages/post.php?slug=$1     [QSA,L]
RewriteRule ^blog/?$               pages/blog.php             [QSA,L]
RewriteRule ^servicos/?$           pages/servicos.php         [L]
RewriteRule ^sobre/?$              pages/sobre.php            [L]
RewriteRule ^contato/?$            pages/contato.php          [QSA,L]